on:
  workflow_call:
    inputs:
      branch:
        description: The branch to check out
        required: true
        type: string
      hugo_extended:
        default: false
        description: Whether or not to installed the extended version of Hugo
        required: false
        type: boolean
      hugo_version:
        default: '0.145.0'
        description: The Hugo version to use
        required: false
        type: string

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Code
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.branch }}

      - name: Install Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          extended: ${{ inputs.hugo_extended }}
          hugo-version: ${{ inputs.hugo_version }}

      - name: Validate Hugo Configuration
        run: hugo config

      - name: Hugo Build
        run: HUGO_ENV=production hugo

      - name: Upload Artifact
        uses: actions/upload-artifact@v7
        with:
          name: public
          path: public/
